<ion-view title="Komplain" id="page14">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <ion-list>
            <ion-item class="item-divider">Isi Pesan</ion-item>
            <label class="item item-input" name="pesan">
                <span class="input-label">Text</span><textarea placeholder=""> </textarea>
            </label>
        </ion-list>
        <ion-list></ion-list>
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <div class="button-bar">
            <a href="tel:" id="komplain-button29" class="button button-positive  button-block">Kirim</a>
            <a ui-sref="pulsaMax.menuUtama" id="komplain-button30" class="button button-positive  button-block">Batal</a>
        </div>
    </ion-content>
</ion-view>