<ion-view title="Menu Utama" id="page1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item ui-sref="pulsaMax.pendaftaranReseller">Pendaftaran Reseller</ion-item>
            <ion-item ui-sref="pulsaMax.penjualanPulsa">Penjualan Pulsa</ion-item>
            <ion-item ui-sref="pulsaMax.penjualanToken">Penjualan Token</ion-item>
            <ion-item ui-sref="komplain">Info / Komplain</ion-item>
        </ion-list>
    </ion-content>
</ion-view>