<ion-view title="Tambah Nomor" id="page13">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <ion-list>
            <ion-item class="item-divider">Nomor HP</ion-item>
            <label class="item item-input" name="nominal">
                <span class="input-label">Input</span>
                <input type="number" placeholder="">
            </label>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <ion-list>
            <ion-item class="item-divider">PIN</ion-item>
            <label class="item item-input" name="pin">
                <span class="input-label">Input</span>
                <input type="number" placeholder="">
            </label>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <div class="button-bar">
            <a href="tel:" id="tambahNomor-button27" class="button button-positive  button-block">Kirim</a>
            <a ui-sref="pulsaMax.tool" id="tambahNomor-button28" class="button button-positive  button-block">Batal</a>
        </div>
    </ion-content>
</ion-view>