<ion-view title="Tool" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar"></div>
        <div class="button-bar">
            <button id="tool-button16" class="button button-positive  button-block">ID</button>
            <button id="tool-button17" class="button button-positive  button-block">Saldo</button>
            <button id="tool-button18" class="button button-positive  button-block">Komisi</button>
        </div>
        <ion-list>
            <ion-item ui-sref="pulsaMax.setting">Setting</ion-item>
            <ion-item ui-sref="pulsaMax.tiket">Tiket</ion-item>
            <ion-item ui-sref="pulsaMax.transferSaldo">Transfer Saldo</ion-item>
            <ion-item ui-sref="pulsaMax.transferKomisi">Transfer Komisi</ion-item>
            <ion-item ui-sref="pulsaMax.transaksiMultiNomor">Transaksi Multi Nomor</ion-item>
            <ion-item ui-sref="pulsaMax.isiPulsa">Isi Pulsa</ion-item>
            <ion-item ui-sref="pulsaMax.tambahNomor">Tambah Nomor HP</ion-item>
            <ion-item ui-sref="pulsaMax.gantiPIN">Ganti PIN</ion-item>
        </ion-list>
    </ion-content>
</ion-view>