<ion-view title="Transfer Saldo" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">ID Member</ion-item>
            <label class="item item-input" name="id">
                <span class="input-label">Input</span>
                <input type="number" placeholder="">
            </label>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <ion-list>
            <ion-item class="item-divider">Nominal</ion-item>
            <label class="item item-input" name="nominal">
                <span class="input-label">Input</span>
                <input type="number" placeholder="">
            </label>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <ion-list>
            <ion-item class="item-divider">PIN</ion-item>
            <label class="item item-input" name="pin">
                <span class="input-label">Input</span>
                <input type="number" placeholder="">
            </label>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <div class="button-bar">
            <a href="tel:" id="transferSaldo-button8" class="button button-positive  button-block">Kirim</a>
            <a ui-sref="pulsaMax.menuUtama" id="transferSaldo-button9" class="button button-positive  button-block">Batal</a>
        </div>
    </ion-content>
</ion-view>