<ion-view title="Transfer Komisi" id="page11">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <ion-list>
            <ion-item class="item-divider">Nominal</ion-item>
            <label class="item item-input" name="nominal">
                <span class="input-label">Input</span>
                <input type="number" placeholder="">
            </label>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <ion-list>
            <ion-item class="item-divider">PIN</ion-item>
            <label class="item item-input" name="pin">
                <span class="input-label">Input</span>
                <input type="number" placeholder="">
            </label>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <div class="button-bar">
            <a href="tel:" id="transferKomisi-button23" class="button button-positive  button-block">Kirim</a>
            <a ui-sref="pulsaMax.menuUtama" id="transferKomisi-button24" class="button button-positive  button-block">Batal</a>
        </div>
    </ion-content>
</ion-view>