<ion-view title="Transaksi Multi Nomor" id="page16">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">Nomor HP 1</ion-item>
            <label class="item item-input" name="nohp">
                <span class="input-label">Input</span>
                <input type="number" placeholder="">
            </label>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <ion-list>
            <ion-item class="item-divider">Nominal</ion-item>
            <label class="item item-select" name="nominal">
                <span class="input-label"></span>
                <select>
                    <option>5</option>
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </label>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <ion-list>
            <ion-item class="item-divider">Nomor HP 2</ion-item>
            <label class="item item-input" name="nohp2">
                <span class="input-label">Input</span>
                <input type="number" placeholder="">
            </label>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <form class="list"></form>
        <ion-list>
            <ion-item class="item-divider">Nomor HP 3</ion-item>
            <label class="item item-input" name="nohp2">
                <span class="input-label">Input</span>
                <input type="number" placeholder="">
            </label>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <ion-list>
            <label class="item item-input" name="pin">
                <span class="input-label">Input</span>
                <input type="number" placeholder="">
            </label>
            <ion-item class="item-divider">PIN</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <div class="button-bar">
            <a href="tel:" id="transaksiMultiNomor-button33" class="button button-positive  button-block">Kirim</a>
            <a ui-sref="pulsaMax.tool" id="transaksiMultiNomor-button34" class="button button-positive  button-block">Batal</a>
        </div>
    </ion-content>
</ion-view>